name: Compile LaTeX

on:
  # Trigger the workflow on push, but only for the main branch
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  compile-latex:
    name: Compile LaTeX
    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Compile document
        uses: xu-cheng/latex-action@v2
        with:
          args: -shell-escape -xelatex -file-line-error -halt-on-error -interaction=nonstopmode -cd -output-directory=build
          root_file: main.tex

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build
